<!DOCTYPE html>
<html lang="en">

<%-include('./include/header'); %>

<body>
	<link rel="stylesheet" href="./assets/css/search.css" type="text/css">
	<%-include('./include/nav'); %>
	<div class="container">
		<form action="/search">
			<input type="text" name="search" value=<%= searchStr; %> placeholder="Search">
			<input type="hidden" name="page" value="1">
			<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
		</form>
	</div>

	<div class="col-sm-8 row" id="search_result" style="text-align:center;">
		<%data.forEach(item=>{-%>
			<%-include('./card/item_card') %>
		<%}); -%>
	</div>
	<div id="pages">
		<% if (page == 1) { -%>
			
		<% } else { -%>
			<a href="?search=<%=searchStr%>&page=<%= page -1 %>"> Prev ... </a>
		<% }; -%>

		<a><%= page %></a>
		<% if (end) { -%>
			
		<% } else { -%>
			<a href="?search=<%=searchStr%>&page=<%= page*1+1  %>"> Next ... </a>
		<% }; -%>
		
	</div>
	

	<script src="./assets/js/search.js"></script>
</body>
</html>