<!DOCTYPE html>
<html lang="en">

<%-include('./include/header'); %>

<body>
	<link rel="stylesheet" href="./assets/css/search.css" type="text/css">
	<%-include('./include/nav'); %>
	<div class="container">
		<form action="/search">
			<input type="text" name="search" value=<%= searchStr; %> placeholder="Search">
			<input type="hidden" name="page" value="1">
			<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
		</form>
	</div>

	<div class="col-sm-8 row" id="search_result" style="text-align:center;">
		<%data.forEach(e=>{-%>
			<div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#"><%= e.ProName; %></a>
                  </h4>
                  <!-- <h5><%= e.current_price; %></h5> -->
                  <p class="card-text"> <%= e.Description ;%> </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

          </div>
		<%}); -%>
	</div>
	<div id="pages">
		<% if (page == 1) { -%>
			
		<% } else { -%>
			<a href="?search=<%=searchStr%>&page=<%= page -1 %>"> Prev ... </a>
		<% }; -%>

		<a><%= page %></a>
		<% if (end) { -%>
			
		<% } else { -%>
			<a href="?search=<%=searchStr%>&page=<%= page*1+1  %>"> Next ... </a>
		<% }; -%>
		
	</div>
	

	<script src="./assets/js/search.js"></script>
</body>
</html>